.App {
  text-align: center;
}
/* body{
  background-color: rgb(173, 146, 146);
} */
div {
  background-color: #f0f2f5 !important;
  
  text-align: center !important;
  /* padding-left: 30px !important;
  padding-right: 30px !important; */
  
}
input#user {
  background-color: white;
  box-sizing: border-box;
  border-color: f0f2f5;
  border-radius: 5px;
  padding: 10px 90px;
  color: #f0f2f5;
  font-size: medium;
  padding-top: 20px;
  padding-bottom: 10px;
}
input#pass{
  background-color: white;
  box-sizing: border-box;
  border-color: #f0f2f5;
  border-radius: 5px;
  padding: 10px 90px;
  color: white;
  font-size: medium;
  margin-top: 10px;

}
button {
  background-color: #1877f2;
  box-sizing: border-box;
  border-color: #1877f2;
  border-radius: 5px;
  padding: 10px 90px;
  color: white;
  font-size: medium;
  font-weight: 600;
  margin-top: 10px;
}
.btn_new{
  background-color: #36a420;
  box-sizing: border-box;
  border-color: #36a420;
  border-radius: 5px;
  padding: 10px 90px;
  color: white;
  font-size: medium;
  font-weight: 600;
  margin-top: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{
  /* background-color: cyan; */
  color: #0866ff;
}
h2{
  background-color: chartreuse;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
