body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
input {
  display: block;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  } 
  *{
    box-sizing: border-box;
  }
  html, body{
    
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* background: #00136c; */
    background: #324596;
    /* background: #d8dbe5; */
  }
  form{
    background-color: #a1f396;
    box-sizing: border-box;
    border-color: black;
    border-radius: 10px;
  }
  form input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-style: dotted;
    
  }
  form label{
    font-size: large;
    font-family: cursive;
    color: sienna;
  }
  .valid {
    font-size: 14px;
    color:#fff;
    text-align: left;
    margin: 0 40px;   
  }

  h1{
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
   
  }
  /* div p{
    text-align: right;
  } */
  
  /* .container{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
  }
  
  .box {
    width: 450px;
    height: 250px;
  /*   border-radius:50%; 
    background-color: skyblue;
    border: solid 2px #db3951; 
    color: #00136c;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: rotate 1s ease-in-out;
  }
  
  .box:hover{
    rotate: Y 180deg;
  } */

  .flip-card {
    /* background-color: black; */
    width: 450px;
    height: 300px;
    perspective: 1000px;
    margin: 0;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* background: url('./worldmap_pattern.png'); */
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    /* background-color:rgb(5, 5, 5); */
    border-radius: 20px;
    color: white;
    width: 100%;
    font-family: cursive;
    /* background-color: rgb(188, 23, 238); /* For browsers that do not support gradients */
  /* background-image: linear-gradient(to bottom right, rgb(241, 16, 230), rgb(5, 5, 5)) ;   */
  background-color: rgb(5, 5, 5); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(124, 122, 124), rgb(5, 5, 5)) ; 

  }
  
  .flip-card-back {
    /* background-color: rgb(5, 5, 5); */
    border-radius: 20px;
    color: white;
    font-family: cursive;
    transform: rotateY(180deg);
    /* background-color: rgb(188, 23, 238);
    background-image: linear-gradient(to bottom right, rgb(241, 16, 230), rgb(5, 5, 5));   */
    background-color: rgb(5, 5, 5);
    background-image: linear-gradient(to bottom right, rgb(119, 118, 119), rgb(5, 5, 5));  
  }
  .flip-card-back  p {
    text-align: center;
    
  }
   back_para {
    text-align: left;
  }
  .div > h3{
    text-align: left;
  }
  .flip-card-front img{
    background-image: url('./ac-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 40px;
    display: block;
    margin-left: 40px;
  }
 
 
    .matercard-img > img{
      background-image: url('./mastercard_text.png');
    background-repeat: no-repeat;
   text-align: right;
   margin: -60px 290px;
   width: 30%;
   height: 100%;
    }
    /* .worldmap_img > img{
      background: url('./worldmap.png');
      background-size: cover;
      /* background-attachment: fixed; */
      /* width: 100%;
      height: auto;
      position: absolute;
      margin: -230px 10px; */

    /* }  */
  
  
  
  
  